@import "../../assets/sass/variables";

:host{
  width: 100%;
}

section{
  direction: ltr;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  min-height: 650px;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  >a{
    margin-top: 15px;
    display: flex;
    align-items: center;
    align-self: center;
    cursor: pointer;
    text-align: center;
    background-color: #44803b;
    color:white;
    border-radius: 10px;
    padding: 10px 30px;
    transition: all .2s ease;
    &:hover{
      background-color: #2e5628;
    }
  }
  img{
    height: 300px;
    width: auto;
    margin-bottom: 20px;
  }
  main{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #3e3e3e;
    padding-bottom: 15px;
    >span{
      text-align: center;
    }
    .paragraph,>span,a{
      width: 100%;
      margin-bottom: 10px;
    }
    .paragraph{
      display: flex;
      max-height: 100px;
      overflow-y: hidden;
      position: relative;
      p{
        width: 100%;
        height: 100%;
      }
      >div{
        background: rgba(0,0,0,0);
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(79,79,79,0) 31%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(linear,left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(31%, rgba(79,79,79,0)), color-stop(100%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(79,79,79,0) 31%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(79,79,79,0) 31%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(79,79,79,0) 31%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(79,79,79,0) 31%, rgba(255,255,255,1) 100%);
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    a{
      margin-bottom: 10px;
      cursor: pointer;
      text-align: center;
      background-color: gray;
      color:white;
      border-radius: 10px;
      padding: 5px 10px;
      transition: all .2s ease;
      &:hover{
        background-color: darkgray;
      }
    }
    ul{
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      li{
        padding: 2px 8px;
        border-radius: 10px;
        background-color: $mainColor;
        color: white;
        margin: 5px 8px;
      }
    }
  }
}
