@import '../../assets/sass/variables';

:host{
  width: 100%;
  z-index: 99;
}

header{
  height: 80px;
  padding:20px 40px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  flex-direction: row-reverse;
  img{
    height: 100%;
  }
  form{
    input{
      width: 400px;
      height: 50px;
      border-radius: 8px;
      font-size: 1em;
      border:2px solid $mainColor;
      padding: 7px 15px;
    }
    button{
      background-color: $mainColor;
      margin-right: 25px;
      border-radius: 8px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      color:white;
      cursor: pointer;
      &:hover{
        i{
          margin-right: 13px;
        }
      }
      i{
        margin-right: 8px;
        transition: all .2s ease;
      }

    }
  }
}
