<aside [class.closed]="menuTrigger">
  <i class="fa fa-bars" (click)="menuTrigger=!menuTrigger"></i>
  <i class="fa fa-close" (click)="menuTrigger=!menuTrigger"></i>
  <ul>
    <li>
      <i class="fa fa-home"></i>
      <span>خانه</span>
    </li>
    <li>
      <i class="fa fa-facebook"></i>
      <span>فیسبوک</span>
    </li>
    <li>
      <i class="fa fa-twitter"></i>
      <span>توییتر</span>
    </li>
    <li>
      <i class="fa fa-instagram"></i>
      <span>اینستاگرام</span>
    </li>
    <li>
      <i class="fa fa-youtube-square"></i>
      <span>یوتیوب</span>
    </li>
    <li>
      <i class="fa fa-bluetooth"></i>
      <span>بلوتوث</span>
    </li>
  </ul>
</aside>
